extends ../layout

block content
    .content.container
        .row
            .col-md-2
                block sidenav
                    include sidenav
            .col.md-10
                block maincontent
                include ../includes/footer