/* 가운데 contents*/

.content {
  width: 100%;
}

/* .content_container {
  margin-top: 50px;
  width: 65%; */
  /* margin-left: 90px; }*/


/* 상위 topnav */
.sstrong-sidebar{margin: 0!important;float: initial}
.sstrong-navbar{align-items: center;background-color: #343a40;margin-bottom: 3em; min-height: 80px;vertical-align: middle;}
.sstrong-navbar > .wrap{position: relative;float: inherit;}

.login-section{align-items: center!important;}
.login-text{font-size:10px;color:#f8f9fa;text-decoration: none;margin-bottom: .3rem!important;margin-top: .2rem;}
.login-button-text{font-size:13px;color:#f8f9fa;text-decoration: none;}
.login-button{padding: .3rem .4rem;border-color: #ffc107;margin-bottom: .35rem!important;margin-left: .6rem;}
.login-button:not(:disabled):not(.disabled){cursor:pointer;}
.login-button:hover{
  background-color:#ffc107;color:#f8f9fa;
  font-weight: 450;
  transition: all 0.4 ease 0s;
}
.mypage-button {padding-left: 1rem; padding: .3rem .4rem;border-color: #ffc107;margin-top: 0!important;margin-bottom: .35rem!important;}

.search-section {padding-left: 0;}
.search-section .search-bar {width:90%;background-color: #F0F0F0;border-width: 0; padding: 2.5px 2px;padding-left:.6em;border-radius: 9px;}
.search-icon-button{border-radius: 9px;border-width: 0;padding: 2.5px 7.5px;margin-left: .3rem;width: 4%;}
.search-section-form {vertical-align: middle!important;}
.search-bar-search-icon{padding-bottom: .34em;}

.Aligner{align-items: center;margin: 0!important; padding-top: 12px;}

/* <로고 시작> */
.logo-section{padding-right: 0;}
.logo-text{position:absolute;top:0em;left:2em;z-index: 3;color: white}
.logo-text-under{position: absolute;top:0em;left:4em;color:orange;font-size: 1.2em;}
#burst-12 {
    background: orange;
    width: 1.6em;
    height: 1.6em;
    top:0em;left:1em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    animation: beat .8s ease infinite alternate;
    z-index: 1;
  }
#burst-12:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1.6em;
  width: 1.6em;
  background: orange;
  z-index: 2;
  }
#burst-12:before {
  transform: rotate(45deg);
  }
#burst-12 {
    transform: rotate(60deg);
  }
@keyframes beat{
  from {transform: rotate(-20deg) scale(1)}
  to {transform: rotate(-20deg) scale(1.2)}
}

.chartjs-render-monitor {
  animation-name: chartjs-render-animation;
  animation-duration: 0.001s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  }



/* 좌측 사이드바  */
.sstrong-sidebar {margin-right: 0;width: 100%;}
.sidebar-border{margin-left: 0;}
/* .sstrong-sidebar > .wrap{position: relative; margin: 0px;} */
.sstrong-sidebar > .row{
  padding-top: 1em; padding-bottom: 1em;
  background-color: #F0F0F0;
  color: #333;
  }
.sidebar-subtitle.active{color: #ffc107;}
.sidebar-subtitle {display: block; text-decoration: none;font-size:21px;padding: .4em 0 .4em 1em;}
.sidebar-w-95{width:100%;}
.sidebar-section{width:100%}
.side-icon-sub{margin-right: .4em;}
.sidebar-subsub{display: inline-block;padding: 0 0 0 3em;font-size: 13px;text-decoration: none;vertical-align: middle;width: 100%;line-height: 3em;}
.sstrong-sidebar a {text-decoration: none;color:-webkit-link}
.sstrong-sidebar a:hover {background-color: white}

  /* <로고 끝> */