.container
    p.float-right
        a(href='http://localhost:3000/#') Back to top
    p
        | © 2017-2018 Company, Inc. · 
        a(href='http://localhost:3000/#') Privacy
        |  · 
        a(href='http://localhost:3000/#') Terms