.sidenav
    .p-3.mb-3.detailed
        h4 Category
        ul
            li
                a(href='#') 스킨케어
            li  
                a(href='#') 클렌징
            li  
                a(href='#') 베이스메이크업
            li  
                a(href='#') 색조메이크업
            li  
                a(href='#') 마스크/팩
            li  
                a(href='#') 선케어
            li  
                a(href='#') 소도구
            li  
                a(href='#') 헤어
            li  
                a(href='#') 향수
    .p-3.mb-3.detailed
        h4 Brand
        ul
            li
                a(href='#') 백화점
            li  
                a(href='#') 로드샵
            li  
                a(href='#') 드럭스토어
            li  
                a(href='#') 온라인/기타
