extends layout

block content
  .content
    .row
      .col-md-3
        block sidenav
          include ./includes/sidenav
      .col-md-9
        block maincontent
          include ./includes/maincontent