extends layout

block content
  .content.container
    block sidenav
      include ./includes/sidenav

    block maincontent
      include ./includes/alert
      include ./includes/maincontent


      