doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Seonhee')
    meta(name='generator', content='Jekyll v3.8.5')
    title Blog+Carousel
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:700,900', rel='stylesheet')
    // Custom styles for this template
    link(rel='stylesheet', href="stylesheets/style.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
    
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
  body
    header
      .jumbotron.jumbotron-fluid
        .container(style='margin-left: 25px; padding-left: 10px; padding-top: 20px;')
          h1.display-4 희번득
          p.lead
            | 대한민국의 모든 화장품 세일을 한눈에 모아 희번득하다.

      nav.navbar.navbar-expand-lg.navbar-light.bg-light(style='margin-left: 20px; margin-right: 20px;')
        a.navbar-brand(href='#') 희번득
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarToggler.collapse.navbar-collapse
          .col-6.flex-nowrap.justify-content-between.align-items-center
            form.form-inline
              input.form-control(type='search', placeholder='Search')
              button.btn.btn-outline-success(type='submit') Search

          .col-4.d-flex.justify-content-end
          a.btn.btn-outline-primary(href="/signin") 로그인
          

            
    .top-header
      p 
      |
    .row
      aside.col-md-3.sidenav(style='margin-left: 25px; padding-left: 10px; padding-top: 20px;')
        .p-3.mb-3.detailed
          h4.font-italic Category
          ul.text-white
            li
              a(href='http://localhost:3000/#') 스킨케어
            li  
              a(href='http://localhost:3000/#') 클렌징
            li  
              a(href='http://localhost:3000/#') 베이스메이크업
            li  
              a(href='http://localhost:3000/#') 색조메이크업
            li  
              a(href='http://localhost:3000/#') 마스크/팩
            li  
              a(href='http://localhost:3000/#') 선케어
            li  
              a(href='http://localhost:3000/#') 소도구
            li  
              a(href='http://localhost:3000/#') 헤어
            li  
              a(href='http://localhost:3000/#') 향수
        .p-3.mb-3.detailed
          h4.font-italic Brand
          ul
            li
              a(href='http://localhost:3000/#') 백화점
            li  
              a(href='http://localhost:3000/#') 로드샵
            li  
              a(href='http://localhost:3000/#') 드럭스토어
            li  
              a(href='http://localhost:3000/#') 온라인/기타

      .col-md-8
        block content
  footer.container
      p.float-right
        a(href='http://localhost:3000/#') Back to top
      p
        | © 2017-2018 Company, Inc. · 
        a(href='http://localhost:3000/#') Privacy
        |  · 
        a(href='http://localhost:3000/#') Terms