extends layout

block content
  .content
    .row
        .col-md-3
            block sidenav
            include ./admin/ad_sidenav
        .col-md-9
            h1 회원관리
            .container.formdiv.col-md-8
                form.form-inline
                    input.form-control(type='search', name='seaerch', placeholder='회원 검색')
                    button.btn.btn-primary(type='submit') 검색
            hr
            table.table.table-hover
                th N0.
                th &#xD68C;&#xC6D0;
                th &#xAC00;&#xC785;&#xC77C;
                th  
                tr
                td 10
                td &#xB3D9;&#xAD6C;
                td 19.01.17
                td
                    button.btn.btn-primary.btn-sm(type='submit' onclick="location.href = '/member/memanager' ") &#xC218;&#xC815;
                tr
                td 10
                td &#xB3D9;&#xAD6C;
                td 19.01.17
                td
                    button.btn.btn-primary.btn-sm(type='submit' onclick="location.href = '/member/memanager' ") &#xC218;&#xC815;
                tr
                td 9
                td &#xB3D9;&#xAD6C;
                td 19.01.17
                td
                    button.btn.btn-primary.btn-sm(type='submit' onclick="location.href = '/member/memanager' ") &#xC218;&#xC815;
                tr
                td 8
                td &#xB3D9;&#xAD6C;
                td 19.01.17
                td
                    button.btn.btn-primary.btn-sm(type='submit' onclick="location.href = '/member/memanager' ") &#xC218;&#xC815;
                tr
                td 7
                td &#xB3D9;&#xAD6C;
                td 19.01.17
                td
                    button.btn.btn-primary.btn-sm(type='submit' onclick="location.href = '/member/memanager' ") &#xC218;&#xC815;
                tr
                td 6
                td &#xB3D9;&#xAD6C;
                td 19.01.17
                td
                    button.btn.btn-primary.btn-sm(type='submit' onclick="location.href = '/member/memanager' ") &#xC218;&#xC815;
                tr
                td 5
                td &#xB3D9;&#xAD6C;
                td 19.01.17
                td
                    button.btn.btn-primary.btn-sm(type='submit' onclick="location.href = '/member/memanager' ") &#xC218;&#xC815;
                tr
                td 4
                td &#xB3D9;&#xAD6C;
                td 19.01.17
                td
                    button.btn.btn-primary.btn-sm(type='submit' onclick="location.href = '/member/memanager' ") &#xC218;&#xC815;
                tr
                td 3
                td &#xB3D9;&#xAD6C;
                td 19.01.17
                td
                    button.btn.btn-primary.btn-sm(type='submit' onclick="location.href = '/member/memanager' ") &#xC218;&#xC815;
                tr
                td 1
                td &#xB3D9;&#xAD6C;
                td 19.01.17
                td
                    button.btn.btn-primary.btn-sm(type='submit' onclick="location.href = '/member/memanager' ") &#xC218;&#xC815;
            hr
            .text-center
                ul.pagination
                    li.page-item
                        a.page-link(href='#') Pre
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 4
                    li.page-item
                        a.page-link(href='#') 5
                    li.page-item
                        a.page-link(href='#') Next

