extends layout

block content
  h5 로그인 화면
  
  .form-signin
    include ./includes/alert   
    .input0
      form(action='/signin', method='POST')
        input(type='text', id='email', name='email', placeholder='email')
        input(type='password', id='password', name='password', placeholder='password')
        button.loginbutt.btn.btn-block(type='submit') 로그인
            

      hr
      a(href='/users/new')
          p.signupbutt 희번득 아이디로 회원가입
      hr
      a(href='/auth/kakao')
          p.otherway.login-kakao(style="color:black") kakao 아이디로 로그인
      
      a(href='/auth/naver')
          p.otherway.login-naver naver 아이디로 로그인

      a(href='/auth/gmail')
          p.otherway.login-google google 아이디로 로그인

  link(rel='stylesheet', href="stylesheets/login.css")



    