        #content.border
            h3.border.block 화장품이름
            img(src='stylesheets/V.jpg' style='width:135px;height:203;')
            ul.border.data
                li.border 정가
                li.border 판매처
                li.border 할인가
                li.border 정가
                li.border 판매처
                li.border.specific 세부정보
                    span.specific Lorem ipsum dolor sit amet consectetur adipisicing elit. Est culpa magni labore necessitatibus! Officia adipisci inventore aut necessitatibus, possimus voluptatem obcaecati eaque cumque laboriosam in iste, voluptatibus mollitia, odit iusto.
            

            h2.border Section title
            .table-responsive
                table.table.table-striped.table-sm.border
                    thead
                        tr
                            th #
                            th Header
                            th Header
                            th Header
                            th Header
                    tbody
                        tr
                            td 1,001
                            td Lorem
                            td ipsum
                            td dolor
                            td sit
                        tr
                            td 1,002
                            td amet
                            td consectetur
                            td adipiscing
                            td elit
                        tr
                            td 1,003
                            td Integer
                            td nec
                            td odio
                            td Praesent
