.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox1.custom-control-input(type='checkbox', name='brandLike', value='네이처리퍼블릭')
    label.custom-control-label(for='jb-brand-checkbox1') 네이처리퍼블릭

.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox2.custom-control-input(type='checkbox', name='brandLike', value='랄라블라')
    label.custom-control-label(for='jb-brand-checkbox2') 랄라블라

.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox3.custom-control-input(type='checkbox', name='brandLike', value='롭스')
    label.custom-control-label(for='jb-brand-checkbox3') 롭스

.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox4.custom-control-input(type='checkbox', name='brandLike', value='미샤')
    label.custom-control-label(for='jb-brand-checkbox4') 미샤

.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox5.custom-control-input(type='checkbox', name='brandLike', value='아리따움')
    label.custom-control-label(for='jb-brand-checkbox5') 아리따움

.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox6.custom-control-input(type='checkbox', name='brandLike', value='아모레퍼시픽')
    label.custom-control-label(for='jb-brand-checkbox6') 아모레퍼시픽

.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox7.custom-control-input(type='checkbox', name='brandLike', value='어퓨')
    label.custom-control-label(for='jb-brand-checkbox7') 어퓨

.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox8.custom-control-input(type='checkbox', name='brandLike', value='에뛰드하우스')
    label.custom-control-label(for='jb-brand-checkbox8') 에뛰드하우스

.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox9.custom-control-input(type='checkbox', name='brandLike', value='에스쁘아')
    label.custom-control-label(for='jb-brand-checkbox9') 에스쁘아

.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox10.custom-control-input(type='checkbox', name='brandLike', value='올리브영')
    label.custom-control-label(for='jb-brand-checkbox10') 올리브영

.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox11.custom-control-input(type='checkbox', name='brandLike', value='이니스프리')
    label.custom-control-label(for='jb-brand-checkbox11') 이니스프리

.custom-control.custom-checkbox.brandLike
    input#jb-brand-checkbox12.custom-control-input(type='checkbox', name='brandLike', value='클리오')
    label.custom-control-label(for='jb-brand-checkbox12') 클리오
