.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox1.custom-control-input(type='checkbox', name='categoryLike', value='스킨')
    label.custom-control-label(for='jb-category-checkbox1') 스킨

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox2.custom-control-input(type='checkbox', name='categoryLike', value='로션')
    label.custom-control-label(for='jb-category-checkbox2') 로션

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox3.custom-control-input(type='checkbox', name='categoryLike', value='에센스')
    label.custom-control-label(for='jb-category-checkbox3') 에센스

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox4.custom-control-input(type='checkbox', name='categoryLike', value='크림')
    label.custom-control-label(for='jb-category-checkbox4') 크림

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox5.custom-control-input(type='checkbox', name='categoryLike', value='미스트')
    label.custom-control-label(for='jb-category-checkbox5') 미스트

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox6.custom-control-input(type='checkbox', name='categoryLike', value='오일')
    label.custom-control-label(for='jb-category-checkbox6') 오일

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox7.custom-control-input(type='checkbox', name='categoryLike', value='기능성(케어)')
    label.custom-control-label(for='jb-category-checkbox7') 기능성(케어)

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox8.custom-control-input(type='checkbox', name='categoryLike', value='마스크/팩')
    label.custom-control-label(for='jb-category-checkbox8') 마스크/팩

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox9.custom-control-input(type='checkbox', name='categoryLike', value='클렌징폼')
    label.custom-control-label(for='jb-category-checkbox9') 클렌징폼

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox10.custom-control-input(type='checkbox', name='categoryLike', value='클렌징오일')
    label.custom-control-label(for='jb-category-checkbox10') 클렌징오일

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox11.custom-control-input(type='checkbox', name='categoryLike', value='클렌징워터')
    label.custom-control-label(for='jb-category-checkbox11') 클렌징워터

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox12.custom-control-input(type='checkbox', name='categoryLike', value='필링/스크럽')
    label.custom-control-label(for='jb-category-checkbox12') 필링/스크럽

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox13.custom-control-input(type='checkbox', name='categoryLike', value='클렌징티슈')
    label.custom-control-label(for='jb-category-checkbox13') 클렌징티슈

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox14.custom-control-input(type='checkbox', name='categoryLike', value='리무버')
    label.custom-control-label(for='jb-category-checkbox14') 리무버

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox15.custom-control-input(type='checkbox', name='categoryLike', value='메이크업 베이스')
    label.custom-control-label(for='jb-category-checkbox15') 메이크업 베이스

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox16.custom-control-input(type='checkbox', name='categoryLike', value='톤업크림')
    label.custom-control-label(for='jb-category-checkbox16') 톤업크림

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox17.custom-control-input(type='checkbox', name='categoryLike', value='프라이머')
    label.custom-control-label(for='jb-category-checkbox17') 프라이머

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox18.custom-control-input(type='checkbox', name='categoryLike', value='파운데이션')
    label.custom-control-label(for='jb-category-checkbox18') 파운데이션

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox19.custom-control-input(type='checkbox', name='categoryLike', value='비비크림')
    label.custom-control-label(for='jb-category-checkbox19') 비비크림

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox20.custom-control-input(type='checkbox', name='categoryLike', value='씨씨크림')
    label.custom-control-label(for='jb-category-checkbox20') 씨씨크림

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox21.custom-control-input(type='checkbox', name='categoryLike', value='쿠션')
    label.custom-control-label(for='jb-category-checkbox21') 쿠션

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox22.custom-control-input(type='checkbox', name='categoryLike', value='컨실러')
    label.custom-control-label(for='jb-category-checkbox22') 컨실러

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox23.custom-control-input(type='checkbox', name='categoryLike', value='팩트')
    label.custom-control-label(for='jb-category-checkbox23') 팩트

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox24.custom-control-input(type='checkbox', name='categoryLike', value='파우더')
    label.custom-control-label(for='jb-category-checkbox24') 파우더

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox25.custom-control-input(type='checkbox', name='categoryLike', value='립')
    label.custom-control-label(for='jb-category-checkbox25') 립

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox26.custom-control-input(type='checkbox', name='categoryLike', value='아이라이너')
    label.custom-control-label(for='jb-category-checkbox26') 아이라이너

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox27.custom-control-input(type='checkbox', name='categoryLike', value='마스카라')
    label.custom-control-label(for='jb-category-checkbox27') 마스카라

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox28.custom-control-input(type='checkbox', name='categoryLike', value='픽서')
    label.custom-control-label(for='jb-category-checkbox28') 픽서

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox29.custom-control-input(type='checkbox', name='categoryLike', value='아이섀도우')
    label.custom-control-label(for='jb-category-checkbox29') 아이섀도우

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox30.custom-control-input(type='checkbox', name='categoryLike', value='아이브로우')
    label.custom-control-label(for='jb-category-checkbox30') 아이브로우

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox31.custom-control-input(type='checkbox', name='categoryLike', value='하이라이터')
    label.custom-control-label(for='jb-category-checkbox31') 하이라이터

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox32.custom-control-input(type='checkbox', name='categoryLike', value='쉐딩')
    label.custom-control-label(for='jb-category-checkbox32') 쉐딩

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox33.custom-control-input(type='checkbox', name='categoryLike', value='블러셔')
    label.custom-control-label(for='jb-category-checkbox33') 블러셔

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox34.custom-control-input(type='checkbox', name='categoryLike', value='선케어')
    label.custom-control-label(for='jb-category-checkbox34') 선케어

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox35.custom-control-input(type='checkbox', name='categoryLike', value='바디워시')
    label.custom-control-label(for='jb-category-checkbox35') 바디워시

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox36.custom-control-input(type='checkbox', name='categoryLike', value='바디로션')
    label.custom-control-label(for='jb-category-checkbox36') 바디로션

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox37.custom-control-input(type='checkbox', name='categoryLike', value='핸드케어')
    label.custom-control-label(for='jb-category-checkbox37') 핸드케어

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox38.custom-control-input(type='checkbox', name='categoryLike', value='풋케어')
    label.custom-control-label(for='jb-category-checkbox38') 풋케어

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox39.custom-control-input(type='checkbox', name='categoryLike', value='립케어')
    label.custom-control-label(for='jb-category-checkbox39') 립케어

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox40.custom-control-input(type='checkbox', name='categoryLike', value='헤어')
    label.custom-control-label(for='jb-category-checkbox40') 헤어

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox41.custom-control-input(type='checkbox', name='categoryLike', value='네일')
    label.custom-control-label(for='jb-category-checkbox41') 네일

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox42.custom-control-input(type='checkbox', name='categoryLike', value='브러시')
    label.custom-control-label(for='jb-category-checkbox42') 브러시

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox43.custom-control-input(type='checkbox', name='categoryLike', value='퍼프/스펀지')
    label.custom-control-label(for='jb-category-checkbox43') 퍼프/스펀지

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox44.custom-control-input(type='checkbox', name='categoryLike', value='뷰러')
    label.custom-control-label(for='jb-category-checkbox44') 뷰러

.custom-control.custom-checkbox.categoryLike
    input#jb-category-checkbox45.custom-control-input(type='checkbox', name='categoryLike', value='소도구')
    label.custom-control-label(for='jb-category-checkbox45') 소도구

