extends ../layout
  
block content
  
    a.header-logo.text-warning(href='/')
        h1.text-center
            b 회원정보 수정
    .input-box(style='width:35%; margin-left:auto; margin-right:auto;')
        include ../includes/alert
        form(action=`/users/${user._id}?_method=PUT`, method='POST')
            .form-group
                label(for='email') 이메일 주소 
                input#exampleInputEmail1.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email', value=user.email, readonly)
                small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            
            .form-group
                label(for='current_password') 현재 비밀번호 
                input#exampleInputPassword1.form-control(type='password', name='current_password' placeholder='현재 비밀번호')
            
            .form-group
                label(for='password') 바꿀 비밀번호 
                input#exampleInputPassword1.form-control(type='password', name='password' placeholder='변경할 비밀번호')
            .form-group
                label(for='passwordconf') 비밀번호 확인 
                input#exampleInputPassword1.form-control(type='password', name='passwordconf' placeholder='변경할 비밀번호 확인')
            .form-group
                label(for='name') 이름(닉네임) 
                input.form-control(type='text', id='name', name='name', placeholder='Enter name', value=user.name)
            //- if (currentUser.isAdmin)  
            .form-group
                label(for='isAdmin') 회원등급
                    input.form-control(type="radio" id='isAdmin' name='isAdmin', value='true') 
                    | 관리자
                    input.form-control(typ e="radio" id='isAdmin' name='isAdmin', value='false', checked)
                    | 일반
            button.btn.btn-primary(type='submit') 회원정보 수정
            a.btn.btn-default(href='javascript:window.history.back();') 돌아가기
        