extends ../layout
  
block content
  
    a.header-logo.text-warning(href='/')
        h1.text-center
            b 회원정보 수정
    .input-box(style='width:35%; margin-left:auto; margin-right:auto;')
        include ../includes/alert
        form(action=`/users/${user._id}?_method=PUT`, method='POST')
            .form-group
                label(for='email') 이메일 주소 
                input#exampleInputEmail1.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email', value=user.email, readonly)
                small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            if (currentUser.password)
                .form-group
                    label(for='current_password') 현재 비밀번호 
                    input#exampleInputPassword1.form-control(type='password', name='current_password' placeholder='현재 비밀번호')
                
                .form-group
                    label(for='password') 바꿀 비밀번호 
                    input#exampleInputPassword1.form-control(type='password', name='password' placeholder='변경할 비밀번호')
                .form-group
                    label(for='passwordconf') 비밀번호 확인 
                    input#exampleInputPassword1.form-control(type='password', name='passwordconf' placeholder='변경할 비밀번호 확인')
            
            .form-group
                label(for='name') 이름(닉네임) 
                input.form-control(type='text', id='name', name='name', placeholder='Enter name', value=user.name)
            if (currentUser.isAdmin)  
                .form-group
                    label(for='isAdmin') 회원등급
                        input.form-control(type="radio" id='isAdmin' name='isAdmin', value='true') 
                        | 관리자
                        input.form-control(type="radio" id='isAdmin' name='isAdmin', value='false', checked)
                        | 일반
            hr
            p
                strong 관심브랜드
            .custom-control.custom-checkbox.brandLike
                input#jb-brand-checkbox1.custom-control-input(type='checkbox', name='brandLike', value='네이처리퍼블릭')
                label.custom-control-label(for='jb-brand-checkbox1') 네이처리퍼블릭

            .custom-control.custom-checkbox.brandLike
                input#jb-brand-checkbox2.custom-control-input(type='checkbox', name='brandLike', value='랄라블라')
                label.custom-control-label(for='jb-brand-checkbox2') 랄라블라
            hr
            p  
                strong 관심카테고리
                .custom-control.custom-checkbox.categoryLike
                    input#jb-category-checkbox1.custom-control-input(type='checkbox', name='categoryLike', value='립스틱')
                    label.custom-control-label(for='jb-category-checkbox1') 립스틱

                .custom-control.custom-checkbox.categoryLike
                    input#jb-category-checkbox2.custom-control-input(type='checkbox', name='categoryLike', value='클렌징')
                    label.custom-control-label(for='jb-category-checkbox2') 클렌징

            
            button.btn.btn-primary(type='submit') 회원정보 수정
            a.btn.btn-default(href='javascript:window.history.back();') 돌아가기
        