.TabsConts_on {
    text-align: center;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
  }
  .salecategory-group{
    text-align: center;
    margin-bottom: 20px;
    }
    
  .btn-group {
    flex-wrap: wrap; width: 100%;
    }
  
  ul li {
    list-style-type: none;
  }
  
  .cate_align_box .align_sort ul li a{
    color: black;
  }
  
  .cate_align_box .count_sort_num ul li a{
    color: black;
  }
  
  .cate_align_box .count_sort_num ul li{
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .align_sort {
    display: inline-block;
    padding-top: 10px;
  }
  
  .cate_align_box {
    margin-bottom: 30px;
    border-top: solid burlywood 4.5px;
    border-bottom: solid burlywood 3px;
    position: relative;
  }
  
  
  .cate_align_box .align_sort a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 5px;
  
  }
  
  .cate_align_box .align_sort ul li {
    display: inline-block;
  }  
  
  .cate_info_tx {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .count_sort_num {
    display: inline-block;
    padding-left: 70px;
    /* float: right; */
  }
  
  .count_sort_num ul li {
    display: inline-block;
  }
  
  .count_sort_num .tx_view {
    display: inline-block;
  }
  
  .cate_prd_list {
    margin-top: 30px;
  }
  
  .cate_prd_list li {
    position: relative;
  }
  
  .flag{
    width: 20%;
    display: inline-block;
  }
  
  .menu_bar {
    float: right;
    margin-bottom: 50px;
  }
  
  .menu_bar a {
    color: black;
  }
  
  .menu_bar li {
    float: left; 
    margin-left: 20px;
  }
  
  .navbar{
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sale-area {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
  }
  
  .sample_logo {
    vertical-align: middle;
  }
  
  .type_sort {
    display: inline-block;
    /* float: right; */
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .tx_view{
    display: inline-block;
    float: left;
  }
  
  .prd_info img{
    width: 70%;
    height: 130px;
  }
  
  .prd_info .prd_price .tx_org{
    text-decoration: line-through;
  }
  
  .flag .prd_info .prd_name p {
    margin-bottom: 0;
  }
  
  .tx_name {
    margin-bottom: 0px;
  }
  
  .tx_org {
    margin-bottom: 0px;
  }