body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}
.content {
  margin-left: 5%;
  margin-right: 5%;
}
.jumbotron {
  text-align: center;
  margin-bottom: -32px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.formdiv {
  text-align: center;
  margin: auto;
}
.loginbutt{
  /* padding: 1em; */

}
.topslide {
  padding-top: 20px;
}
.topnavbar {
  /* vertical-align: center; */
  margin-left: 5%;
  margin-right: 5%;
}
/* The navigation menu links */
.content {
  margin-top: 5px;
}
.sidenav .detailed  {
  font-size: 15px;
  color: #f1f1f1;
  background-color: #a7a7a7;
  display: block;
  
}
.detailed > h4 {
  font-style: italic;
}
.sidenav a:hover {
  color: #f1f1f1;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) 
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/