doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(rel='stylesheet', href='stylesheets/wholecos.css')
    link(rel='stylesheet', href='stylesheets/strong.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
  body
    // 로고
    .container-fluid(style='width:1250px;')
      nav.border.navbar.navbar-dark.fixed-top.bg-dark.p-0.shadow
        ul.nav(style='width:300px;')
          span.logo 0_0
          a.logo-text.under(href='/') 희번득
        .form-group
          input#search.navbar.w-100(type='email', aria-describedby='emailHelp', placeholder='Search 0_0')
        ul.nav
          a#login.border(href='/signin') 로그인
          a#login.border(href='/users/new') 회원가입
    // 품목조회 창
    .search_product
      section.cosmetic_ranking
        | 상품종류_랭킹
      // 세일 필터
      section.sale_filter
        .btn-group.btn-group-toggle(data-toggle='buttons', style='margin-top: 20px; width: 90%')
          label.btn.btn-secondary.active
            input#option1(type='radio', name='options', autocomplete='off')
            |  세일 중
          label.btn.btn-secondary
            input#option2(type='radio', name='options', autocomplete='off')
            |  모든 품목
        .btn-group.btn-group-toggle(data-toggle='buttons', style='margin-top: 20px; width: 90%')
          label.btn.btn-secondary.active
            input#option1(type='radio', name='options', autocomplete='off')
            |  에블바뤼
          label.btn.btn-secondary
            input#option2(type='radio', name='options', autocomplete='off')
            |  여자꺼
          label.btn.btn-secondary
            input#option3(type='radio', name='options', autocomplete='off')
            |  남자꺼
      section.section_salelist
        // 상품 카테고리
        .bundle_category
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') 제조사
            .dropdown-menu
              a.dropdown-item(href='#') 삼성
              a.dropdown-item(href='#') LG
              a.dropdown-item(href='#') 대우
              a.dropdown-item(href='#') 금성
              a.dropdown-item(href='#') 럭키
              a.dropdown-item(href='#') 두산
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false', style='border-left: none; border-right:none;') 판매처
            .dropdown-menu
              a.dropdown-item(href='#') 올리브영
              a.dropdown-item(href='#') 왓슨즈
              a.dropdown-item(href='#') 랄라블라
              a.dropdown-item(href='#') 롯데마트
              a.dropdown-item(href='#') 이마트
              a.dropdown-item(href='#') 두산
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') 화장품 종류
            .dropdown-menu
              a.dropdown-item(href='#') 페이스케어
              a.dropdown-item(href='#') 바디케어
              a.dropdown-item(href='#') 아이케어
              a.dropdown-item(href='#') 풋케어
              a.dropdown-item(href='#') 핸드케어
              a.dropdown-item(href='#') 펄슨케어
        // 상품 리스트
        li.list_cosmetic
          .ranking_number  1등 
          .side_image
            img(src='images/hero_header.jpg')
          h6 일니스프리
          h6 화산송이
          h6 210ml / 25,000원
          h6 관심상품 수
          i.material-icons favorite
        li.list_cosmetic
          .ranking_number  1등 
          .side_image
            img(src='images/hero_header.jpg')
          h6 일니스프리
          h6 화산송이
          h6 210ml / 25,000원
          h6 관심상품 수
          i.material-icons favorite
        li.list_cosmetic
          .ranking_number  1등 
          .side_image
            img(src='images/hero_header.jpg')
          h6 일니스프리
          h6 화산송이
          h6 210ml / 25,000원
          h6 관심상품 수
          i.material-icons favorite
        li.list_cosmetic
          .ranking_number  1등 
          .side_image
            img(src='images/hero_header.jpg')
          h6 일니스프리
          h6 화산송이
          h6 210ml / 25,000원
          h6 관심상품 수
          i.material-icons favorite
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
