<div class="item-info">
    <dl class="info-text">
        <dt class="title"><a onclick="updateCnt('5100')" href="http://missha.beautynet.co.kr/goods.list.exhibition.do?ebtNo=4984">꿀청 시트마스크 1+1</a></dt>
        <dd class="comment">멀리서도 빛나는 꿀광피부</dd>
    </dl>
    <div class="float-link">
        <!-- <button type="button" class=" btn-link--clip">스크랩</button> -->
        <a class="btn-link--text" onclick="updateCnt('5100')" href="http://missha.beautynet.co.kr/goods.list.exhibition.do?ebtNo=4984" "="">
            상세보기
        </a>
    </div>
</div>