<!DOCTYPE html> 
<html lang="en">
<head>
    <title>Jade</title>
<body>
<div class="evenet_sale_list">
    <a href="http://www.innisfree.com/kr/ko/EventView.do?eventSeq=799&procStat=2&channelTyp=" class="event_sale_link">
        <div class="event_sale_img">
            <img src="https://images.innisfree.co.kr/upload/event/799_0.jpg" style='width:286px; height: 286px;'>
        </div>
        <div class="event_sale_info">
            <p class="brand">이니스프리</p>
            <p class="period">2019.01.21 ~ 2019.02.12</p>
            <p class='title'>설/맞/이 설 선물세트</p>          
        </div>
    </a>
</div>
</body>        
</html>



      



					
			            
                
                
                    
                
            
            
                
                
										
														
													
																		

