extends cosLayout

block maincontent
    link(rel='stylesheet', href='/stylesheets/product_sp.css')
    #body-content.content-container.col-md-9.Aligner
        .product-content-row

            .error-section
                span.error-text 잘못된 정보가 있나요??
                a.error-button.d-lg-inline-block.mb-md-0.btn.error-btn-text(href='/cosmetics/1/error') 신고!
                    

            .product-section.row
                .col-4.product-img.Aligner-item-high
                    img(src='/images/V.jpg' style='width:90%; margin-left:0;')
            
                .col-7.product-info(style='margin-right:0;')
                    h4.mb-0 화장품 이름
                    .product-data.row
                        div.product-info-subt.col-3
                            .borde 카테고리 : 
                            .borde 정가 : 
                            .borde 할인가 : 
                            .borde 판매처 :
                            .borde 판매처 홈페이지 :
                            .borde 세부정보 :
                        div.product-info-cont.col-9
                            .borde Lorem
                            .borde Lorem
                            .borde Lorem orrupti dolor.
                            .borde Lorem ipsum
                            .borde Lorem ipsum
                            .borde Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sequi, quisquam incidunt optio architecto vitae quasi perspiciatis recusandae at amet modi ipsam temporibus laboriosam soluta deserunt fugit animi quaerat. Repellendus.




