extends ./index

block maincontent
    link(rel='stylesheet', href='/stylesheets/cosmetic.css')
    #content.border.container
        .row
            .col-md-2
                img(src='images/V.jpg' style='width:135px;height:203px')
        
            .col-md-10
                h3.mb-0 화장품 이름
                ul.border.data
                    li.border 정가-
                    li.border 판매처
                    li.border 할인가
                    li.border 판매처
                    li.border 세부정보
                        span li.border Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eum doloremque officia, dicta laboriosam qui, ad quis ea voluptates aliquid itaque maiores, eius ipsa odio officiis quam. Fugiat, modi qui.


