.sidenav
    .p-3.mb-3.detailed
        h4 관리 목록
        ul
            li
                a(href='/member') 회원 목록
            li
                a(href='#') 화장품 목록
            li
                a(href='#') 신고 목록

