extends index

block maincontent
  
    .container.formdiv.col-md-8
        h1 세일 품목 추가
    form(action='/admin/salelists', method='POST')

        .form-group
            label(for='category', style='margin-bottom:4px;')  * 제품 카테고리

            include category

        .form-group
            label(for='cosName', style='margin-bottom:4px;')  * 제품 이름(필수)
            input.form-control.col-4(type='text', id='cosName', name='cosName', placeholder='Enter cosName', style='margin-top:5px;')
            
        .form-group
            label(for='title', style='margin-bottom:4px;')  * 세일 타이틀
            input.form-control.col-4(type='text', id='title', name='title', placeholder='Enter title', style='margin-top:5px;')

        .form-group
            label(for='category', style='margin-bottom:4px;')  * 세일 종류
            input.form-control.col-4(type='text', id='category', name='category', placeholder='Enter category', style='margin-top:5px;')
            
        .form-group
            label(for='condiction', style='margin-bottom:4px;')  * 세일 조건
            input.form-control.col-4(type='text', id='condiction', name='condiction', placeholder='Enter condiction', style='margin-top:5px;')
        
        .form-group
            label(for='price', style='margin-bottom:4px;')  * 가격(필수)
            .input-group
                input.form-control.col-3(type='text', id='price', name='price', placeholder='정가')
                .input-group-addon 원

        .form-group
            .input-group
                input.form-control.col-3(type='text', id='salePrice', name='salePrice', placeholder='세일가')
                .input-group-addon 원


        .form-group
            label(for='date', style='margin-bottom:4px;' )  * 세일 기간(필수)
            .input-group
                input#exampleInputAmount.form-control.col-2(type='text'  placeholder='YYYY-MM-DD' name='start')
                .input-group-addon ~
                input#exampleInputAmount.form-control.col-2(type='text'  placeholder='YYYY-MM-DD' name='end')

                
        .form-group
            .btn-group(data-toggle='buttons')
                    label.btn.btn-primary
                        input#option1(type='radio' name='onOff' autocomplete='off')
                        |  온라인
                    label.btn.btn-primary
                        input#option2(type='radio' name='onOff' autocomplete='off')
                        |  오프라인

        .form-group
            label(for="img") Image
            input#file.form-control(type="file")
            input#url.form-control(type="text", readonly="readonly", name="img", value="")
            img#preview.img-fluid(src="https://dummyimage.com/200x200/ccc/fff")

        script.
            $(function() {
                $("#preview").hide();
                $("#file").change(function() {
                var file = $("#file")[0].files[0];
                if (file) {
                    var url = "/s3?filename=" + encodeURIComponent(file.name) + 
                            "&type=" + encodeURIComponent(file.type);
                    console.log(url);
                    $.getJSON(url, function(resp) {
                    console.log(resp.signedRequest);
                    $.ajax({
                        url: resp.signedRequest,
                        method: 'PUT',
                        data: file,
                        headers: {'x-amz-acl': 'public-read', 'Content-Type': file.type},
                        processData: false, 
                        contentType: file.type,
                        success: function() {
                        $("#preview").attr("src", resp.url).show();
                        $("#url").val(resp.url);
                        }
                    });
                    });
                }
                });
            });  


        button.btn.btn-primary(type='submit') 세일 정보 추가