extends index

block maincontent
  
    .container.formdiv.col-md-8
        h1 세일 품목 추가
    form(action='/admin/salelists', method='POST')
        .form-group
            label(for='category', style='margin-bottom:4px;')  * 제품 카테고리
            ul#myTab.nav.nav-tabs(role='tablist')
                li.nav-item
                    a#skinCare-tab.nav-link.active(data-toggle='tab' href='#skinCare' role='tab' aria-controls='skinCare' aria-selected='true' name='options1') 스킨케어
                li.nav-item
                    a#cleansing-tab.nav-link(data-toggle='tab' href='#cleansing' role='tab' aria-controls='cleansing' aria-selected='false' name='options1') 클렌징
                li.nav-item
                    a#base-tab.nav-link(data-toggle='tab' href='#base' role='tab' aria-controls='base' aria-selected='false' name='options1') 베이스메이크업
                li.nav-item
                    a#tone-tab.nav-link(data-toggle='tab' href='#tone' role='tab' aria-controls='tone' aria-selected='false' name='options1') 색조메이크업
                li.nav-item
                    a#body-tab.nav-link(data-toggle='tab' href='#body' role='tab' aria-controls='body' aria-selected='false' name='options1') 바디
                li.nav-item
                    a#etc-tab.nav-link(data-toggle='tab' href='#etc' role='tab' aria-controls='etc' aria-selected='false' name='options1') 기타제품
                        
            #myTabContent.tab-content
                #skinCare.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='skinCare-tab') 
                    .btn-group(data-toggle='buttons')
                        label.btn.btn-primary
                            input#option1(type='radio' name='options2' autocomplete='off')
                            |  스킨
                        label.btn.btn-primary
                            input#option2(type='radio' name='options2' autocomplete='off')
                            |  로션
                        label.btn.btn-primary
                            input#option3(type='radio' name='options2' autocomplete='off')
                            |  에센스
                        label.btn.btn-primary
                            input#option4(type='radio' name='options2' autocomplete='off')
                            |  크림
                        label.btn.btn-primary
                            input#option5(type='radio' name='options2' autocomplete='off')
                            |  미스트
                        label.btn.btn-primary
                            input#option6(type='radio' name='options2' autocomplete='off')
                            |  페이스오일
                        label.btn.btn-primary
                            input#option7(type='radio' name='options2' autocomplete='off')
                            |  기능성(케어)
                        label.btn.btn-primary
                            input#option8(type='radio' name='options2' autocomplete='off')
                            |  기타

                #cleansing.tab-pane.fade(role='tabpane1' aria-labelledby='cleansing-tab')
                    .btn-group(data-toggle='buttons')
                        label.btn.btn-primary
                            input#option1(type='radio' name='options2' autocomplete='off')
                            |  클렌징폼
                        label.btn.btn-primary
                            input#option2(type='radio' name='options2' autocomplete='off')
                            |  클렌징오일
                        label.btn.btn-primary
                            input#option3(type='radio' name='options2' autocomplete='off')
                            |  클렌징워터
                        label.btn.btn-primary
                            input#option4(type='radio' name='options2' autocomplete='off')
                            |  스크럽
                        label.btn.btn-primary
                            input#option5(type='radio' name='options2' autocomplete='off')
                            |  클렌징티슈
                        label.btn.btn-primary
                            input#option6(type='radio' name='options2' autocomplete='off')
                            |  리무버
                        label.btn.btn-primary
                            input#option7(type='radio' name='options2' autocomplete='off')
                            |  기타  
                
                #base.tab-pane.fade(role='tabpanel' aria-labelledby='base-tab' style='width:70%')
                    .btn-group(data-toggle='buttons')
                        label.btn.btn-primary
                            input#option1(type='radio' name='options2' autocomplete='off')
                            |  메이크업베이스
                        label.btn.btn-primary
                            input#option2(type='radio' name='options2' autocomplete='off')
                            |  톤업크림
                        label.btn.btn-primary
                            input#option3(type='radio' name='options2' autocomplete='off')
                            |  프라이머
                        label.btn.btn-primary
                            input#option4(type='radio' name='options2' autocomplete='off')
                            |  파운데이션
                        label.btn.btn-primary
                            input#option5(type='radio' name='options2' autocomplete='off')
                            |  비비크림
                        label.btn.btn-primary
                            input#option6(type='radio' name='options2' autocomplete='off')
                            |  씨씨크림  
                        label.btn.btn-primary
                            input#option7(type='radio' name='options2' autocomplete='off')
                            |  쿠션
                        label.btn.btn-primary
                            input#option8(type='radio' name='options2' autocomplete='off')
                            |  컨실러
                        label.btn.btn-primary
                            input#option9(type='radio' name='options2' autocomplete='off')
                            |  팩트
                        label.btn.btn-primary
                            input#option10(type='radio' name='options2' autocomplete='off')
                            |  파우더
                        label.btn.btn-primary
                            input#option11(type='radio' name='options2' autocomplete='off')
                            |  기타
                
                #tone.tab-pane.fade(role='tabpanel' aria-labelledby='tone-tab')
                    .btn-group(data-toggle='buttons')
                        label.btn.btn-primary
                            input#option1(type='radio' name='options2' autocomplete='off')
                            |  립
                        label.btn.btn-primary
                            input#option2(type='radio' name='options2' autocomplete='off')
                            |  아이라이너
                        label.btn.btn-primary
                            input#option3(type='radio' name='options2' autocomplete='off')
                            |  마스카라
                        label.btn.btn-primary
                            input#option4(type='radio' name='options2' autocomplete='off')
                            |  픽서
                        label.btn.btn-primary
                            input#option5(type='radio' name='options2' autocomplete='off')
                            |  아이섀도우
                        label.btn.btn-primary
                            input#option6(type='radio' name='options2' autocomplete='off')
                            |  아이브로우
                        label.btn.btn-primary
                            input#option7(type='radio' name='options2' autocomplete='off')
                            |  하이라이터
                        label.btn.btn-primary
                            input#option8(type='radio' name='options2' autocomplete='off')
                            |  쉐딩
                        label.btn.btn-primary
                            input#option9(type='radio' name='options2' autocomplete='off')
                            |  블러셔
                        label.btn.btn-primary
                            input#option10(type='radio' name='options2' autocomplete='off')
                            |  기타

                #body.tab-pane.fade(role='tabpanel' aria-labelledby='body-tab')
                    .btn-group(data-toggle='buttons')
                        label.btn.btn-primary
                            input#option1(type='radio' name='options2' autocomplete='off')
                            |  마스크
                        label.btn.btn-primary
                            input#option2(type='radio' name='options2' autocomplete='off')
                            |  선케어
                        label.btn.btn-primary
                            input#option3(type='radio' name='options2' autocomplete='off')
                            |  바디워시
                        label.btn.btn-primary
                            input#option4(type='radio' name='options2' autocomplete='off')
                            |  바디로션
                        label.btn.btn-primary
                            input#option5(type='radio' name='options2' autocomplete='off')
                            |  핸드케어
                        label.btn.btn-primary
                            input#option6(type='radio' name='options2' autocomplete='off')
                            |  풋케어
                        label.btn.btn-primary
                            input#option7(type='radio' name='options2' autocomplete='off')
                            |  헤어
                        label.btn.btn-primary
                            input#option8(type='radio' name='options2' autocomplete='off')
                            |  네일
                        label.btn.btn-primary
                            input#option9(type='radio' name='options2' autocomplete='off')
                            |  기타


                #etc.tab-pane.fade(role='tabpanel' aria-labelledby='etc-tab')
                    .btn-group(data-toggle='buttons')
                        label.btn.btn-primary
                            input#option1(type='radio' name='options2' autocomplete='off')
                            |  브러시
                        label.btn.btn-primary
                            input#option2(type='radio' name='options2' autocomplete='off')
                            |  퍼프
                        label.btn.btn-primary
                            input#option3(type='radio' name='options2' autocomplete='off')
                            |  뷰러
                        label.btn.btn-primary
                            input#option4(type='radio' name='options2' autocomplete='off')
                            |  소도구

        .form-group
            label(for='cosName', style='margin-bottom:4px;')  * 제품 이름
            input.form-control.col-4(type='text', id='cosName', name='cosName', placeholder='Enter cosName', style='margin-top:5px;')
            
        .form-group
            label(for='title', style='margin-bottom:4px;')  * 세일 타이틀
            input.form-control.col-4(type='text', id='title', name='title', placeholder='Enter title', style='margin-top:5px;')

        
        .form-group
            label(for='category', style='margin-bottom:4px;')  * 세일 종류
            input.form-control.col-4(type='text', id='category', name='category', placeholder='Enter category', style='margin-top:5px;')
        
        .form-group
            label(for='price', style='margin-bottom:4px;')  * 가격
            .input-group
                input.form-control.col-3(type='text', id='price', name='price', placeholder='정가')
                .input-group-addon 원
        .form-group
            .input-group
                input.form-control.col-3(type='text', id='salePrice', name='salePrice', placeholder='세일가')
                .input-group-addon 원


        .form-group
            label(for='date', style='margin-bottom:4px;' )  * 세일 기간
            .input-group
                input#exampleInputAmount.form-control.col-2(type='text'  placeholder='YYYY-MM-DD' name='start')
                .input-group-addon ~
                input#exampleInputAmount.form-control.col-2(type='text'  placeholder='YYYY-MM-DD' name='end')

                
        .form-group
            .btn-group(data-toggle='buttons')
                    label.btn.btn-primary
                        input#option1(type='radio' name='onOff' autocomplete='off')
                        |  온라인
                    label.btn.btn-primary
                        input#option2(type='radio' name='onOff' autocomplete='off')
                        |  오프라인

        .form-group
            label(for='pictName', style='margin-bottom:4px;')  * 세일 사진 주소
            input.form-control.col-6(type='text', id='pictName', name='pictName', placeholder='Enter URL', style='margin-top:5px;')



        button.btn.btn-primary(type='submit') 세일 정보 추가