.side.sstrong-sidebar
    .row.wrap.sidebar-w-95.sidebar-border
        .category-section.sidebar-section
            a.sidebar-subtitle(href='#') 카테고리
                svg.icon-category(xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    polygon(points='12 2 2 7 12 12 22 7 12 2')
                    polyline(points='2 17 12 22 22 17')
                    polyline(points='2 12 12 17 22 12')

            p
                a.sidebar-subsub(href='/cosmetics') 스킨케어
            p
                a.sidebar-subsub(href='#') 베이스메이크업
            p
                a.sidebar-subsub(href='#') 색조메이크업
            p
                a.sidebar-subsub(href='#') 소도구                              

        .brand-section.sidebar-section
            a.sidebar-subtitle(href='#') 브랜드
                svg.icon-category(xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    polygon(points='12 2 2 7 12 12 22 7 12 2')
                    polyline(points='2 17 12 22 22 17')
                    polyline(points='2 12 12 17 22 12')
            p
                a.sidebar-subsub(href='#') 로드샵
            p
                a.sidebar-subsub(href='#') 백화점
            p
                a.sidebar-subsub(href='#') 온라인/기타

        .menu.sidebar-section
            a.sidebar-subtitle(href='/salelists') 세일
                svg.icon-category(xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    polygon(points='12 2 2 7 12 12 22 7 12 2')
                    polyline(points='2 17 12 22 22 17')
                    polyline(points='2 12 12 17 22 12')