.side.sstrong-sidebar
    .row.wrap.sidebar-w-95.sidebar-border
        .category-section.sidebar-section
            a.sidebar-subtitle(href='cosmetics') 카테고리
                svg.icon-category(xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    polygon(points='12 2 2 7 12 12 22 7 12 2')
                    polyline(points='2 17 12 22 22 17')
                    polyline(points='2 12 12 17 22 12')

            a.sidebar-subsub(href='/cosmetics?termCategory=%EC%8A%A4%ED%82%A8&termCategory=%EB%A1%9C%EC%85%98&termCategory=%EC%97%90%EC%84%BC%EC%8A%A4&termCategory=%ED%81%AC%EB%A6%BC&termCategory=%EB%AF%B8%EC%8A%A4%ED%8A%B8&termCategory=%EC%98%A4%EC%9D%BC&termCategory=%EA%B8%B0%EB%8A%A5%EC%84%B1%28%EC%BC%80%EC%96%B4%29&termCategory=%EB%A7%88%EC%8A%A4%ED%81%AC%2F%ED%8C%A9') 스킨케어
            a.sidebar-subsub(href='/cosmetics?termCategory=%ED%81%B4%EB%A0%8C%EC%A7%95%ED%8F%BC&termCategory=%ED%81%B4%EB%A0%8C%EC%A7%95%EC%98%A4%EC%9D%BC&termCategory=%ED%81%B4%EB%A0%8C%EC%A7%95%EC%9B%8C%ED%84%B0&termCategory=%ED%95%84%EB%A7%81%2F%EC%8A%A4%ED%81%AC%EB%9F%BD&termCategory=%ED%81%B4%EB%A0%8C%EC%A7%95%ED%8B%B0%EC%8A%88&termCategory=%EB%A6%AC%EB%AC%B4%EB%B2%84') 클렌징
            a.sidebar-subsub(href='/cosmetics?termCategory=%EB%A9%94%EC%9D%B4%ED%81%AC%EC%97%85%EB%B2%A0%EC%9D%B4%EC%8A%A4&termCategory=%ED%86%A4%EC%97%85%ED%81%AC%EB%A6%BC&termCategory=%ED%94%84%EB%9D%BC%EC%9D%B4%EB%A8%B8&termCategory=%ED%8C%8C%EC%9A%B4%EB%8D%B0%EC%9D%B4%EC%85%98&termCategory=%EB%B9%84%EB%B9%84%ED%81%AC%EB%A6%BC&termCategory=%EC%94%A8%EC%94%A8%ED%81%AC%EB%A6%BC&termCategory=%EC%BF%A0%EC%85%98&termCategory=%EC%BB%A8%EC%8B%A4%EB%9F%AC&termCategory=%ED%8C%A9%ED%8A%B8&termCategory=%ED%8C%8C%EC%9A%B0%EB%8D%94') 베이스메이크업
            a.sidebar-subsub(href='/cosmetics?termCategory=%EB%A6%BD&termCategory=%EC%95%84%EC%9D%B4%EB%9D%BC%EC%9D%B4%EB%84%88&termCategory=%EB%A7%88%EC%8A%A4%EC%B9%B4%EB%9D%BC&termCategory=%ED%94%BD%EC%84%9C&termCategory=%EC%95%84%EC%9D%B4%EC%84%80%EB%8F%84%EC%9A%B0&termCategory=%EC%95%84%EC%9D%B4%EB%B8%8C%EB%A1%9C%EC%9A%B0&termCategory=%ED%95%98%EC%9D%B4%EB%9D%BC%EC%9D%B4%ED%84%B0&termCategory=%EC%89%90%EB%94%A9&termCategory=%EB%B8%94%EB%9F%AC%EC%85%94') 색조메이크업
            a.sidebar-subsub(href='/cosmetics?termCategory=%EC%84%A0%EC%BC%80%EC%96%B4&termCategory=%EB%B0%94%EB%94%94%EC%9B%8C%EC%8B%9C&termCategory=%EB%B0%94%EB%94%94%EB%A1%9C%EC%85%98&termCategory=%ED%95%B8%EB%93%9C%EC%BC%80%EC%96%B4&termCategory=%ED%92%8B%EC%BC%80%EC%96%B4&termCategory=%EB%A6%BD%EC%BC%80%EC%96%B4&termCategory=%ED%97%A4%EC%96%B4&termCategory=%EB%84%A4%EC%9D%BC') 바디
            a.sidebar-subsub(href='/cosmetics?termCategory=%EB%B8%8C%EB%9F%AC%EC%8B%9C&termCategory=%ED%8D%BC%ED%94%84%2F%EC%8A%A4%ED%8E%80%EC%A7%80&termCategory=%EB%B7%B0%EB%9F%AC&termCategory=%EC%86%8C%EB%8F%84%EA%B5%AC') 기타제품
        .brand-section.sidebar-section
            a.sidebar-subtitle(href='/brand') 브랜드
                svg.icon-category(xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    polygon(points='12 2 2 7 12 12 22 7 12 2')
                    polyline(points='2 17 12 22 22 17')
                    polyline(points='2 12 12 17 22 12')

        .menu.sidebar-section
            a.sidebar-subtitle(href='/salelists') 세일
                svg.icon-category(xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    polygon(points='12 2 2 7 12 12 22 7 12 2')
                    polyline(points='2 17 12 22 22 17')
                    polyline(points='2 12 12 17 22 12')