.top.sstrong-navbar
    .row.wrap.Aligner
        .col-md-2.logo-section
            .logo
                #burst-12.chartjs-render-monitor.logo
                span.logo-text 0_0
                a.logo-text-under(href='/') 희번득
        .col-md-8.search-section.Aligner-item
            .example.search-section-form
                input.search-bar(type='text' placeholder='Search your product 0_0' name='search')
                button.search-icon-button(type='submit' onclick='location.href="/"')
                    i.fa.fa-search.search-bar-search-icon
        .col-md-2.login-section
            if (!currentUser)
                p.login-text 희번득을 더 편하게 이용하세요!
                a.btn.login-button.d-lg-inline-block.mb-md-0.login-button-text(href='/signin') 로그인 / 회원가입
            else
                p.login-text #{currentUser.name}님 반갑습니다.
                if (currentUser.isAdmin)
                       a.btn.login-button.mypage-button.d-lg-inline-block.mb-md-0.login-button-text(href='/admin') 관리자 페이지 
                a.btn.login-button.mypage-button.d-lg-inline-block.mb-md-0.login-button-text(href=`/users/${currentUser._id}`) 마이페이지
                a.btn.login-button.mypage-button.d-lg-inline-block.mb-md-0.login-button-text(href="/signout") 로그아웃